#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(173, 135, 208);
    height: 6rem;
    width: 100%;
}

#main {
    margin-top: 3rem;
    background-color: rgb(190, 185, 185);
    width: 80%;
    display: flex;
    flex-direction: column;
}

#main-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-top > div {
    font-size: 25px;
}

#main-create {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}
